@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import "tailwindcss";


@font-face {
  font-family: 'Bebas Neue';
  src: url('/assets/fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

:root{
  --background: #1a1a1a;
  --green: #9DE845;
  --darker-green: #82c239;

  --font-family-text: 'Bebas Neue';
}

.salao-title {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


.barbearia-title{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.hero-background {
  @apply absolute inset-0 bg-fixed bg-center bg-cover bg-no-repeat brightness-30;
}

.font-title{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 800;
}

.font-p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-button{
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 800;
}

.hover-link {
  position: relative;
  display: inline-block;
}

.hover-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2.5px;
  background-color: var(--green);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.hover-link:hover::after {
  transform: scaleX(1);
}