@import "tailwindcss";

/* ----------------------------- */
/*        BEBAS NEUE (local)     */
/* ----------------------------- */
@font-face {
  font-family: 'Bebas Neue';
  src: local('Bebas Neue'),
      url('/assets/fonts/BebasNeue/BebasNeueBold.woff2')
      format('woff2');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

/* ----------------------------- */
/*            OSWALD             */
/* ----------------------------- */
@font-face {
  font-family: 'Oswald';
  src: local('Oswald'),
      url('/assets/fonts/Oswald/Oswald-VariableFont_wght.woff2')
      format('woff2');
  font-weight: 200 700;
  font-style: normal;
  font-display: swap;
}

/* ----------------------------- */
/*          OPEN SANS            */
/* ----------------------------- */
@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
      url('/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.woff2')
      format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


:root{
  --background: #1a1a1a;
  --green: #9DE845;
  --darker-green: #82c239;

  --font-family-text: 'Bebas Neue';
}

.salao-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.barbearia-title {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

.hero-background {
  @apply absolute inset-0 bg-fixed bg-center bg-cover bg-no-repeat brightness-30;
}

.font-title,
.hero-button {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 800;
}

.font-p {
  font-family: "Open Sans", sans-serif;
}


.hover-link {
  position: relative;
  display: inline-block;
}

.hover-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2.5px;
  background-color: var(--green);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.hover-link:hover::after {
  transform: scaleX(1);
}

@media (max-width: 1850px){
  .about-paragraph{
    font-size: 2rem;
  }
}